<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Uploader</title>
  </head>
  <body>
    <div style="text-align: center">
      <h1>Image Uploader</h1>
      <form
        action="http://localhost:5000/uploader"
        method="POST"
        enctype="multipart/form-data"
      >
        <input type="file" name="file" />
        <input type="submit" />
      </form>
    </div>
  </body>
</html>
